.markdown-content,
.markdown-content {
  @apply text-xl;
}

.markdown-content a {
  @apply border-b-2 border-violet-700;
  transition: all 0.15s ease-in-out;
}

.markdown-content a:hover {
  @apply border-b-[3px];
  transition: all 0.15s ease-in-out;
}

.markdown-content figure {
  margin: 35px 0px 40px 0px;
}

.markdown-content figcaption {
  @apply text-gray-600 dark:text-gray-300 text-lg italic mt-3 mb-5;
  text-align: center;
}

.markdown-content img {
  @apply rounded-2xl my-10;
  width: 100%;
}

.markdown-content pre code {
  @apply text-base;
  margin: 20px 0px 20px 0px;
  border-radius: 10px;
}

.markdown-content p b,
.markdown-content p strong {
  font-weight: 600;
}

.markdown-content p {
  @apply my-7;
}

/* Inline code */
.markdown-content p code {
  @apply bg-gray-100 text-red-500 p-1 dark:bg-slate-800;
}

.markdown-content hr {
  @apply my-10;
}

.markdown-content h1 {
  @apply text-5xl my-10 leading-[3.5rem] font-semibold;
}

.markdown-content h2 {
  @apply text-3xl font-semibold mt-20;
}

.markdown-content h3 {
  @apply text-2xl font-medium mt-[4rem];
}

.markdown-content h4 {
  @apply text-2xl mt-16;
}

.markdown-content h5 {
  @apply text-2xl mt-12;
}

.markdown-content h6 {
  @apply text-2xl mt-12;
}

.markdown-content ul {
  @apply my-7 pl-5;
  list-style: disc;
}

.markdown-content ul p {
  @apply my-3;
}

.markdown-content ul li {
  margin-left: 20px;
}

.markdown-content blockquote {
  @apply px-5 py-1 my-5 rounded-md border-l-4 border-gray-300 dark:border-gray-700 bg-gray-100 dark:bg-slate-800;
}

pre.shiki {
  @apply overflow-x-scroll p-6 rounded-lg;
}
